
.store-container {
    text-align: center; 
    padding: 20px;
}

.product-card {
    
    display: inline-block;
    vertical-align: top;
    
    
    width: 250px;           
    background-color: #ffffff;
    border: 1px solid #ddd; 
    padding: 20px;          
    margin: 15px;         
    
  
    text-align: center;

}


.product-card img {
    width: 100%;       
    border-radius: 5px;
    margin-bottom: 10px;
}

.price {
    color: #27ae60;    
    font-weight: bold;
    font-size: 1.2em;
}

.buy-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 10px;
}

/* hover */
.product-card:hover {
    outline: 2px solid #007bff; 
    outline-offset: 5px;       
    cursor: pointer;
}