body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
}

/* relative on the container */
.user-card {
    position: relative; 
    background-color: #ffffff;
    width: 300px;
    padding: 30px 20px;
    border: 1px solid #e1e4e8;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
}

/* Positioning the badge absolutely */
.status-badge {
    position: absolute;
    top: 15px;    
    right: 15px;  
    
    background-color: green; 
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 15px; 
    box-shadow: 0 2px 5px rgba(46, 204, 113, 0.4);
}


.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #f0f2f5; 
    margin-bottom: 10px;
}

.user-name {
    margin: 5px 0;
    color: #333;
}

.user-bio {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.follow-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.follow-btn:hover {
    background-color: #555;
}