
body {
    background-color: white;
}

header, footer {
    text-align: center;
    background-color: skyblue;
    color: white;
    padding: 15px ;
}

.profile-box {
    width: 60%;
    background-color: white;
    margin: 2em auto;      
    padding: 2em;         
    border: 2px solid #ccc; 
    border-radius: 10px;
}

.profile-img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;   
    
}

.student-name {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.6em;       
}

.bio {
    margin-top: 15px;
    font-size: 1em;
    line-height: 1.5;
}
